@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

@include desktop-layout {
  #about {
    flex-direction: column;
  }

  #About-A2 {
    .article {
      &__textarea {
        position: relative;
        &__sections div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          .section {
            width: 100%;

            &__images {
              position: absolute;
              width: 300px;
            }

            &__textarea {
              justify-content: flex-start;
              width: 100%;

              ul {
                list-style-type: disc;
                padding-left: 20px;
                margin-bottom: 20px;
                margin-top: 10px;
              }

              li {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }

  #About-A2S1,
  #About-A2S2,
  #About-A2S3 {
    margin-top: 20px;

    .section__images {
      position: relative;
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
  }
}
