@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

#donation {
  article {
    h2 {
      margin-bottom: 50px;
      text-align: center;
    }

    h3 {
      margin-bottom: 50px;
    }

    p {
      margin-bottom: 50px;
      text-align: justify;
    }

    .buttons-container {
      justify-content: space-evenly;
    }

    .btn--donate {
      margin: 50px;
    }
  }
}