@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";



@include desktop-layout {
  #newsletters {
    .newsletters-container {
      ul > li {
        margin: calc(200px - (100px + $dotWidth / 2)) 0 calc(200px - (100px + $dotWidth / 2)) 0;
        .progressBar {
          flex-direction: column;
          margin: 0 calc((((1224px - 700px) / 2) / 2) - ($dotWidth/2)) 0
            calc((((1224px - 700px) / 2) / 2) - ($dotWidth/2));

          &__dot {
            height: $dotWidth;
            width: $dotWidth;
            background-color: $dark-color;
            border-radius: 50%;
            position: relative;

            &__top,
            &__bottom {
              position: absolute;
              width: 5px;
              height: 200px;
              background-color: $dark-color;
              left: 50%;
              transform: translateX(-50%);
            }

            &__top {
              top: calc(-1 * 200px + $dotWidth);
            }

            &__bottom {
              bottom: calc(-1 * 200px + $dotWidth);
            }
          }
        }

        a {
          text-decoration: none;

          .newsletter {
            border-radius: 100px;
            background-color: $primary-color;
            justify-content: space-between;
            width: 700px;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

            &__image {
              height: 200px;
              width: 200px;
              border-radius: 50%;
              overflow: hidden;
              background-position: center;
              box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            }

            &__text {
              max-height: calc(200px - 10px * 2);
              width: 400px;
              padding: 10px 80px 0 10px;

              h4 {
                text-align: center;
                padding: 20px;
                font-size: 30px;
                color: $accent-color;
              }

              p {
                width: 100%;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}

@include large-desktop-layout {
}

@include small-desktop-layout {
}

@include mobile-layout {
}
