@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

#news {
  .btn {
    &--back {
      margin-top: 50px;
      background-color: $light-color;
      border: 2px solid $dark-color;
      border-radius: 30px;
      box-shadow: $accent-color 4px 4px 0 0;
      color: $accent-color;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      padding: 0 18px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      &:hover {
        background-color: #fff;
      }

      &:active {
        box-shadow: #422800 2px 2px 0 0;
        transform: translate(2px, 2px);
      }
    }
  }
  .article {
    flex-direction: column;

    &__header {
      flex-direction: row;
      text-align: center;
      justify-content: space-around;
      width: 100%;
      margin: 25px 0 50px 0;

      &__text {
        padding: 0 80px 0 20px ;
        flex-direction: column;
        justify-content: space-around;

        &__title {
          text-align: center;
          color: $accent-color;
        }

        &__paragraph {
          text-align: justify;
        }
      }

      &__image {
        position: relative;
        margin-left: 80px;
        max-width: 300px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        &img {
          width: 100%;
        }

        &__caption {
          position: absolute;
          max-width: 350px;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          background-color: $light-color;
        }
      }
    }

    &__section {
      padding: 0 80px 50px 80px;
      text-align: justify;
    }

    &__footer {
      padding: 0 80px 50px 80px;
      text-align: justify;
    }
  }
}
