@import "./sass-utils/mixins.scss";
@import "./sass-utils/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Fjord+One&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.fill-content {
  width: 100%;
  height: 100%;
}

.no-style-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.btn {
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  color: $color-black;
  cursor: pointer;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
  }

  &--donate {
    @include btn--donate;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles {
  font-family: $titles;
  color: $color-black;
}

.s-text {
  font-size: 60%;
  text-align: justify;
}

@include large-desktop-layout {
  main {
    .container {
      width: 1224px;
      overflow: visible;
      .full-screen {
        margin-left: calc(1224px / 2 - 49vw);
        margin-right: calc(1224px / 2 - 49vw);
      }
    }
  }
}

@include small-desktop-layout {
  main {
    .container {
      width: 100%;
    }
  }
}

@include desktop-layout {
  main {
    width: 100%;
    margin-top: $desktop-header-radius + 1px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
  }

  h1 {
    font-family: $titles;
    font-size: 50px;
  }

  h2 {
    font-family: $titles;
    font-size: 40px;
  }

  h3 {
    font-family: $titles;
    font-size: 30px;
  }

  div,
  p,
  span,
  a {
    font-family: $body;
    font-size: 20px;
    color: $color-black;
  }

  p {
    line-height: 1.3;
  }
}

@include mobile-layout {
  main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    padding: 0 10px 20px 10px;
  }

  .titles {
    font-family: $titles;
    color: $color-black;
  }

  h1 {
    font-family: $titles;
  }

  h2 {
    font-family: $titles;
    font-size: 30px;
  }

  h3 {
    font-family: $titles;
    font-size: 20px;
    text-decoration: $accent-color underline;
  }

  div,
  p,
  span,
  a {
    font-family: $body;
    font-size: 17px;
    line-height: 1;
    color: $color-black;
  }
}
